/* Add a black background color to the top navigation */
.topnav {
    background-color: #111;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 25% 30%;
	text-decoration: none;
	font-size: 20%;
}
#buy{
	float:left;
}
#sell{
	float:left;
	position:relative;
	left: 20%;
}
#best{
	float:right;
	position:
	}
#buy{
	float: right;

  	position: relative;
  	left: -50%; /* or right 50% */
  	text-align: left;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
body{
	background-image: url("GWBG.jpg");
}
