table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 10%;
}

.table {
    width: 80%;
}

td, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

td {
    cursor: pointer;
}

tr:nth-child(all) {
    background-color: #dddddd;
}

body{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url("../CSS/slideShowBG/1.jpg");
    /*background-image: url("../CSS/slideShowBG/1.jpg"); */
    background-color: black;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
}

h1{
    text-align: center;
    color: white;
    -webkit-text-stroke: .2px;
    -webkit-text-stroke-color: lightgray; 
    background-color: #333;
    margin: 0;
    padding: 5;
    margin-top: 0%;
}

h2 {
    text-align: center;
}

.topnav {
    top: 10%;
    background-color: #333;
    overflow: hidden;
    border: none;   
    margin: 0;
    padding: 0;
}

.topnav a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: left;
    display: block;
    color: white;
}
.topnav input{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: left;
    display: block;
    color: white;
    background-color: #333;
    border-width: 0;
}
input::placeholder{
    color: white;
}
.topnav a:hover {
   background-color: slategray;
}
.topnav .icon {
    display: none;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
